MONGODB_URI="mongodb+srv://biswojit640_db_user:TCuGUmcfJUYUsqHl@cluster0.kdc7tz4.mongodb.net/routine?retryWrites=true&w=majority"
JWT_SECRET="change-this-routine-flow-secret-before-production-8f9c4d2a"
